/*this is main*/





.video-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;

    .video-tips {
        width: 300px; 
        margin-bottom: 10px; 
        height: auto;
        border-radius: 15px;
       
    }

    
}

.main-title{

    display: flex;
    align-items: center; // Allinea gli elementi verticalmente al centro
    justify-content: center; // Spazia gli elementi orizzontalmente
    list-style: none; // Rimuove i punti elenco predefiniti
    padding: 20px; // Aggiungi del padding per dare un po' di spazio intorno agli elementi
    margin: 0; // Rimuove il margine predefinito
    position: relative;
    

    li{
        display: flex; // Assicura che i <li> si comportino come contenitori flessibili
        align-items: center; // Allinea gli elementi verticalmente al centro
    
    }
    .button-connect-instagram {
        position: absolute; 
        right: 20px;
        display: flex; /* Assicura che l'ancora si comporti come un contenitore flessibile */
        align-items: center; /* Allinea l'immagine verticalmente al centro */
        margin-top: 100px;
    
        .button-instagram-main{
            height: 15vh; /* L'immagine occupa il 50% dell'altezza della finestra del browser */
            width: auto;  // Imposta l'altezza dell'immagine
            background-color: transparent;
            background-size: cover;
            border: none;
            cursor: pointer;
        }
    }
    .title-contenuti-gratuiti{
        margin-top: 100px;
        height: 100px;
        font-size: 50px;
        display: flex; /* Assicura che l'ancora si comporti come un contenitore flessibile */
        align-items: center; 
        
       
    }
}


@media screen and (max-width: 768px) {
    .video-tips {
        width: 350px; 
        
        &.tre{
            display: none;  // Nasconde il video video-tips-1 e video-tips-3
        }
        
    }

    .main-title {
        .button-connect-instagram .button-instagram-main {
            height: 12vh; /* L'immagine occupa il 50% dell'altezza della finestra del browser */
            width: auto;  // Imposta l'altezza dell'immagine
        }
    }

    .main-title .title-contenuti-gratuiti {
        font-size: 30px; 
    }
}

@media screen and (max-width: 480px) {
    .video-tips {
        width: 90%;

        &.due,
        &.tre{
            display: none;  // Nasconde il video video-tips-1 e video-tips-3
        }
        
    } 

       
    

    .main-title .title-contenuti-gratuiti {
        font-size: 24px; 
    }
    .main-title {
        .button-connect-instagram .button-instagram-main {
            height: 7vh; /* L'immagine occupa il 50% dell'altezza della finestra del browser */
            width: auto;  // Imposta l'altezza dell'immagine
        }
    }
}

